* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #40514e;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #FFFFFF;
}

nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;

}

.brand-name {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;


}

nav ul li {
    display: inline-flex;
}

nav ul li a {
    text-decoration: none;
    padding: 25px;
    color: #66BFBF;
}

nav ul li a:hover {
    background-color: #66BFBF;
    color: rgb(238, 255, 0);
}

.hamburger {
    display: none;
    padding: 20px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;

}

h1 {
    color: #66BFBF;
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
    font-family: 'sacramento', sans-serif;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

hr {
    border: dotted #66BFBF 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

p {
    list-style: 2;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.top-container {
    background-color: aliceblue;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 10%;
    top: 30%;
}

.bottom-cloud {
    position: absolute;
    left: 15%;
    top: 60%;
}

div a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}

div a:hover {
    color: rgb(238, 255, 0);
}

.graphic-design {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.uiux {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.smm {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-msg {
    margin-bottom: 30px;
}


.copywrite {
    color: antiquewhite;
    font-size: 0.75em;
    padding: 20px 0;
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
    background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
    background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
    background-image: -o-linear-gradient(top, #11999E, #66BFBF);
    background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    -webkit-boxhadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 40px auto 60px;
}

.btn:hover {
    border: solid #337FED 0;
    background: #2BC4AD;
    background-image: -webkit-linear-gradient(top, #2BC4AD, #30E3CB);
    background-image: -moz-linear-gradient(top, #2BC4AD, #30E3CB);
    background-image: -ms-linear-gradient(top, #2BC4AD, #30E3CB);
    background-image: -o-linear-gradient(top, #2BC4AD, #30E3CB);
    background-image: -webkit-gradient(to bottom, #2BC4AD, #30E3CB);
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link:hover {
        background-color: #66BFBF;
        color: rgb(238, 255, 0);
    }

    .nav-link {
        width: 100%;
        place-content: center;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .bottom-cloud,
    .top-cloud {
        width: 15%;
    }

    .mountain {
        width: 50%;
    }

    .intro {
        width: 50%;
        margin: auto;
    }

    .archie {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 3.62rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    hr {
        width: 10%;
        margin: 50px auto;
    }

    .middle-container {
        margin: 50px auto;
    }

    .skill-row {
        margin: 50px auto;
    }
}